.post{
  display: flex;
  overflow: hidden;
  margin: 20px 0;
  background-color: white;
  border: 1px solid var(--reddit-grey);
}
.post .vote{
  width: 35px;
  text-align: center;
  font-size:14px;
  line-height: 8pt;
  background-color: var(--reddit-light-grey);
}
.post .content {
  padding: 10px;
}
.post .sus{
  float:left;
  color:black;
  font-weight:500;
  font-size:12px;
  flow:in-line;
}
.post .post-author{
  color:#787C7E;
  float:left;
  font-size:12px;
  flow:in-line;
}
.post-title {
  padding-top: 50px;
  padding-bottom: 10px;
  margin: 0;
}
.post .arr{
  font-weight:900;
  color:#9EA0A2;
}
.post .content .comment{
  font-size:5px;
  color:#868A8C;
}